<img src="Fireblaze__2___3_-removebg-preview.png" width=300 height=250 />

## Table of Content

1. **[For loop](#For_loop)**
2. **[While loop](#While_loop)**
3. **[List Comprehension](#List_Comprehension)**
4. **[User defined function ](#User_defined_function)**
5. **[Lambda function](#Lambda_function)**

### Let's begin with some hands-on practice exercises

<a id="For_loop"> </a>
## <span style='color:Brown'> **1. For loop** </span>

### <span style='color:Blue'> **Question - 1.Print each fruit in a given list.** </span>
Given:
fruits=[ ' Mango ', ' Kiwi ', ' Avocado ', ' Banana ']

In [1]:
#write observation and code here
fruits=[ ' Mango ', ' Kiwi ', ' Avocado ', ' Banana ']
for x in fruits:
  print(x)

 Mango
 Kiwi
 Avocado
 Banana

### <span style='color:Blue'> **Question - 1.1.Write a program to get a required output.** </span>
Given:
fruits=[ ' Mango ', ' Kiwi ', ' Avocado ', ' Banana ']

In [2]:
fruits = ['Mango', 'Kiwi', 'Avocado', 'Banana']

for fruit in fruits:
    if fruit == 'Mango':
        print('I Love', fruit)
    elif fruit == 'Kiwi':
        print('I like', fruit)
    elif fruit == 'Avocado':
        print('I dont like', fruit)
    elif fruit == 'Banana':
        print('Some time I like', fruit)

I Love Mango
I like Kiwi
I dont like Avocado
Some time I like Banana

Required o/p:
I Love Mango
I like Kiwi
I dont like Avocado
Some time I like banana

### <span style='color:Blue'> **Question - 2.Print the following patterns using for loop .** </span>

Required o/p :

*
**
***
****

In [3]:
#write observation and code here
for i in range(1, 5):
    print('*' * i)

*
**
***
****

### <span style='color:Blue'> **Question - 3.Iterate Dictionary using for loop.** </span>

Given:
dict1 = {1: "Apple", 2: "Ball", 3: "Cat"}
dict2 = {"Brand": "BMW", "Color": "Black", "Date": 1964}

**Access only the keys of the dictionary.**

In [4]:
#write observation and code here
# For dict1
dict1 = {1: "Apple", 2: "Ball", 3: "Cat"}
keys1 = dict1.keys()
print(keys1)  # This will print: dict_keys([1, 2, 3])

# For dict2
dict2 = {"Brand": "BMW", "Color": "Black", "Date": 1964}
keys2 = dict2.keys()
print(keys2)  # This will print: dict_keys(['Brand', 'Color', 'Date'])

dict_keys([1, 2, 3])
dict_keys(['Brand', 'Color', 'Date'])

**Iterate keys and values of the dictionary**

In [5]:
#write observation and code here
# For dict1
dict1 = {1: "Apple", 2: "Ball", 3: "Cat"}
for key, value in dict1.items():
    print(f"Key: {key}, Value: {value}")

# For dict2
dict2 = {"Brand": "BMW", "Color": "Black", "Date": 1964}
for key, value in dict2.items():
    print(f"Key: {key}, Value: {value}")

Key: 1, Value: Apple
Key: 2, Value: Ball
Key: 3, Value: Cat
Key: Brand, Value: BMW
Key: Color, Value: Black
Key: Date, Value: 1964

**Iterate only the values the dictionary**

In [6]:
#write observation and code here
# For dict1
dict1 = {1: "Apple", 2: "Ball", 3: "Cat"}
for key in dict1:
    value = dict1[key]
    print(value)

# For dict2
dict2 = {"Brand": "BMW", "Color": "Black", "Date": 1964}
for key in dict2:
    value = dict2[key]
    print(value)

Apple
Ball
Cat
BMW
Black
1964

<a id="While_loop"> </a>
## <span style='color:Brown'> **2. While loop** </span>

### <span style='color:Blue'> **Question - 4.Write a program to print the folowing using while loop.** </span>

**First 10 even numbers.**

In [7]:
#write observation and code here
v=0
while v<20:
    if v%2==0:
        print(v)
    v=v+1

0
2
4
6
8
10
12
14
16
18

**First 10 odd numbers.** <br>

In [20]:
#write observation and code here
v = 1  
count = 0 
while count < 10:
    print(v)
    v = v+2  
    count += 1

1
3
5
7
9
11
13
15
17
19

**First 10 natural numbers**

In [21]:
#write observation and code here
v = 1 
count = 0 
while count < 10:
    print(v)
    v = v+1 
    count += 1

1
2
3
4
5
6
7
8
9
10

### <span style='color:Blue'> **Question - 5.Write a program to print first 10 integers and their squares using while loop.** </span>

- eg:
integer   Square
  1         1
  2         4
  3         9

In [25]:
#write observation and code here
integer = 1  
count = 0 

print("Integer   Square")
while count < 10:
    square = integer * integer  
    print(f"  {integer}        {square}")
    integer += 1  
    count += 1

Integer   Square
  1        1
  2        4
  3        9
  4        16
  5        25
  6        36
  7        49
  8        64
  9        81
  10        100

<a id="List_Comprehension"></a>
## <span style='color:Brown'> **3. List Comrehension** </span>

### <span style='color:Blue'> **Question - 6.Find all of the numbers from 1–1000 that are divisible by 8.** </span>
**Note:**Use list coprehension

In [27]:
#write observation and code here
divisible_by_8 = [num for num in range(1, 1001) 
                  if num % 8 == 0]
print(divisible_by_8)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992, 1000]

### <span style='color:Blue'> **Question - 6.1.Count the number of spaces in a string.** </span>
**Note:**Use list coprehension

In [29]:
#write observation and code here
text = "This is a sample string with spaces"


space_count = len([char for char in text if char == ' '])

print( space_count)

6

### <span style='color:Blue'> **Question - 7.Find all of the words in a string that are less than 5 letters.** </span>
**Note:**Use list coprehension

In [31]:
#write observation and code here
text = " 5 letters"
short_words = [word for word in text.split() if len(word) < 5]
print(short_words)

['5']

<a id="User_defined_function"></a>
## <span style='color:Brown'> **4. User defined function** </span>

### <span style='color:Blue'> **Question - 8.Create a function in Python**</span>

In [42]:
#write observation and code here
def my_function():
  print("Hello ")

my_function()

Hello

### <span style='color:Blue'> **Question - 9.Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.**</span>

In [41]:
num1 = 10
num2 = 5
add_result, sub_result = calculation(num1, num2)

print(f"Addition: {num1} + {num2} = {add_result}")
print(f"Subtraction: {num1} - {num2} = {sub_result}")

Addition: 10 + 5 = 15
Subtraction: 10 - 5 = 5

<a id="Lambda_function"></a>
## <span style='color:Brown'> **5. Lambda function** </span>

### <span style='color:Blue'> **Question - 10.Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument.** </span>

In [38]:
#write observation and code here
number = 10
result = add_15(number)
print(f"{number} + 15 = {result}")

10 + 15 = 25

### <span style='color:Blue'> **Question - 10.1.Write a Python program to square and cube every number in a given list of integers using Lambda.** </span>

In [33]:
#write observation and code here
# Define a list of integers
numbers = [1, 2, 3, 4, 5]

# square list
squared = list(map(lambda x: x**2, numbers))

# cube list
cubed = list(map(lambda x: x**3, numbers))

print("Squared Numbers:", squared)
print("Cubed Numbers:", cubed)

Squared Numbers: [1, 4, 9, 16, 25]
Cubed Numbers: [1, 8, 27, 64, 125]

# The End