<img src="Fireblaze__2___3_-removebg-preview.png" width=300 height=250 />

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Comparision Operations](#Comparision)**
5. **[Concatenation](#concatenation)**
6. **[String operation](#String_operation)**
7. **[Assignment operator](#Assignment_operator)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## <span style='color:Brown'> **1. Using print()** </span>

### <span style='color:Blue'> **Question - 1.Create a given variable & display the required output.** </span>
Given:
- Fruit = 'Your favorite fruit name'
- Name = 'Your_Name'
- Required o/p = Hello my name is 'Your_Name' & I like 'Your favorite fruit name'

In [1]:
#write observation and code here
Fruit = 'Mango'
Name  = ' Sujit'
print('my name is',Name,'i like fruit is','Fruit')

my name is  Sujit i like fruit is Fruit

### <span style='color:Blue'> **Question - 2.Display The following pattern using print()".** </span>

Required output:

********
********
********
********

In [2]:
#write observation and code here
print('******')
print('******')
print('******')
print('******')

******
******
******
******

<a id="types"> </a>
## <span style='color:Brown'> **2. Data types** </span>

### <span style='color:Blue'> **Question - 3.Solve belove the question.** </span>

**Given:
       a='2.5', What is the type of given variable.**

In [3]:
#write observation and code here
a = 2.5
type(a)

float

**b=int(45.3), What is the type of variable b.** <br>

In [4]:
#write observation and code here
b=int(45.3)
type(b)

int

**c=15,Convert a Data Type of c variable to complex**

In [31]:
#write observation and code here
c=15
complex(c)

(15+0j)

<a id="arithmetic"></a>
## <span style='color:Brown'> **3. Arithmetic Operations** </span>

### <span style='color:Blue'> **Question - 4. Write a program to take 2 inputs from the user and return arithmatic operations of those two numbers.** </span>

In [5]:
#write observation and code here
# addition
# substraction
# Multiplication
# Division
# floor division
# exponent

num1 = int(input('Enter first Number'))
num2 = int(input('Enter second Number'))

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1**num2)
print(num1//num2)

Enter first Number10
Enter second Number10
20
0
100
1.0
10000000000
1

### <span style='color:Blue'> **Question - 5.Evaluate 10 plus 2 divide by 6 multiply by 500.** </span>

In [21]:
#write observation and code here

176.66666666666666

### <span style='color:Blue'> **Question - 6.Evaluate  and print the results of the following** </span>
                      
- 754856 into 4  
- 523214 divided by 75
- 45856 raised by 462 
- 60 decresed by 11
- floor division of 66 & 8
- 62 multiply by 4   
- 65 power 2
- 6485 Subtract from 5000

In [23]:
#write observation and code here
result =754856*4
print(result)

3019424

In [24]:
result =523214 / 75
print(result)

6976.1866666666665

In [25]:
result =45856 + 462
print(result)

46318

In [26]:
result =60 - 11
print(result)

49

In [28]:
result =62 *4 
print(result)

248

In [29]:
result =65 ** 2
print(result)

4225

In [30]:
result =6485- 5000
print(result)

1485

In [8]:
#write observation and code here
Var = 250
result= Var>=250
print(result)

True

In [13]:
Var = 100
result= Var!=100
print(result)

False

In [16]:
x=11.11
y=1111

result=(x==y)
print(result)

False

<a id="concatenation"></a>
## <span style='color:Brown'> **5. Concatenation** </span>

### <span style='color:Blue'> **Question - 8.Take two input string from user and concatenate them using '+' operator.** </span>

In [17]:
#write observation and code here
var1 = "Hello "
var2 = "sujit"
 
# + Operator is used to combine strings
var3 = var1 + var2
print(var3)

Hello sujit

<a id="String_operation"></a>
## <span style='color:Brown'> **6. String operation** </span>

### <span style='color:Blue'> **Question - 9.Solve the following string operations.** </span>
- Given:str1='I am very sad'

**1) replace sad word to happy**

In [18]:
#write observation and code here
str1 = 'i am very sad'
str1.replace("sad","happy")

'i am very happy'

**2) replace word very to little bit**

In [19]:
#write observation and code here
str2 = 'i am very sad'
str2.replace("very","little bit")

'i am little bit sad'

<a id="Assignment_operator"></a>
## <span style='color:Brown'> **7. Assignment operator** </span>

****
### <span style='color:Blue'> **Question - 10.If you perform below operation what will be the output.** </span>

Given:
    x=12

**1) x/=6**

In [8]:
#write observation and code here
x=12
x/=6
x

2.0

**2) x//=2**

In [10]:
#write observation and code here
x= 12
x//=6
x

2

**3) x%=3**

In [11]:
#write observation and code here
x =12
x%=3
x

0

**4) x-=2**

In [12]:
#write observation and code here
x= 12
x-=2
x

10

# The End