<img src="Fireblaze__2___3_-removebg-preview.png" width=300 height=250 />

## Table of Content

1. **[List()](#List)**
2. **[Tuple](#Tuple)**
3. **[Dictionary Operations](#Arithmatic_operation)**
4. **[Set](#Set)**

### Let's begin with some hands-on practice exercises

<a id="List"> </a>
## <span style='color:Brown'> **1. list** </span>

### <span style='color:Blue'> **Question - 1.Solve the folowing quetions.** </span>

**Create a empty list**

In [48]:
#write observation and code here
lis1= list()
lis1

[]

**Append 26 in above list**

In [49]:
#write observation and code here
lis1.append(26)
lis1

[26]

**Add elements 1,False,6+7j in above the list using list method**

In [50]:
lis1.append(1)
lis1

[26, 1]

In [51]:
lis1.append('False')
lis1

[26, 1, 'False']

In [52]:
lis1.append('6+7j')
lis1

[26, 1, 'False', '6+7j']

### <span style='color:Blue'> **Question - 2. Check if the list contains an element 300.** </span>
**Note : Use membership operator**

In [65]:
#Given:
Lst=[100,200,300,400,500]

In [70]:
#write observation and code here
("300" in Lst)

False

### <span style='color:Blue'> **Question - 3. Do following list operation.** </span>

#### 1. What does “del” do? Perform del operation on given list
**Gven** list=[4,5,6,9,8,5]

In [80]:
#write observation and code here
list =[4,5,6,9,8,5]
del list[0:6]
list

[]

**2. Create a new list & remove last element from the list without using remove function**

In [82]:
#write observation and code here
list2 = [1,2,3,4,5,6,7]

list2

[1, 2, 3, 4, 5, 6, 7]

In [88]:
list2 . pop(6)
list2

[1, 2, 3, 4, 5, 6]

#### 3. Which function is used to remove all the element from the list
**Note:**Dont use remove & pop function

In [93]:
list3 = [10,20,30,40,50]
list3.clear()
list3

[]

#### 4. Create two different lists & concat them

In [95]:
#write observation and code here
list_1 = [1,2,3]
list_2 = [4, 5, 6]

list_3 = list_1 + list_2
list_3

[1, 2, 3, 4, 5, 6]

<a id="Tuple"></a>
## <span style='color:Brown'> **2. Tuple** </span>

### <span style='color:Blue'> **Question - 4. Solve below the questions.** </span>

#### 1. Create a tuple with single value & check its type

In [101]:
#write observation and code here
tuple1= (23,)

print(type(tuple1))

<class 'tuple'>

#### 2. Give some example to prove tuple is hetrogeneous

In [103]:
#write observation and code here
#tuple with mixed datatypes
tuple3 = (1, "Hello", 3.4)
tuple3

(1, 'Hello', 3.4)

#### 3. Create a tuple with some values & show how to access the element from the tuple

In [105]:
#write observation and code here
tuple4 = ("apple", "banana", "cherry")
(tuple4[1])

'banana'

#### 4. How to made changes in the tuple using typecasting,Give some example

In [5]:
#write observation and code here

tuple3 = (1, 2, 3, 4, 5)

# Convert the tuple to a list
list = list(tuple3)

# Make changes to the list
list[2] = 10
list.append(6)

# Convert the list back to a tuple
tuple3 = tuple(list)

# Print the updated tuple
print(tuple3)

(1, 2, 10, 4, 5, 6)

<a id="Dictionary"></a>
## <span style='color:Brown'> **3. Dictionary** </span>

### <span style='color:Blue'> **Question - 5.Slove below the questions on dictionary topics**</span>

#### 1. How to create empty dictionary?

In [15]:
#write observation and code here
empty_dict = {} #empty dictionary 
empty_dict

{}

#### 2. Create a new dictionary & update above empty dictionary with new dictionary

In [17]:
#write observation and code here

new_dict1 = {"apple": 1, "banana": 4, "orange": 3}
empty_dict.update(new_dict1)
print(empty_dict)

{'key1': 'value1', 'key2': 'value2', 'apple': 1, 'banana': 4, 'orange': 3}

### <span style='color:Blue'> **Question - 6.Change the above dictionary specific value using key**</span>

In [19]:
#write observation and code here
new_dict1 = {"apple": 1, "banana": 4, "orange": 3}

new_dict1["apple"] = 10
new_dict1["banana"] = 5
print(new_dict1)

{'apple': 10, 'banana': 5, 'orange': 3}

<a id="Set"></a>
## <span style='color:Brown'> **5.Set** </span>

### <span style='color:Blue'> **Question - 8.How to create empty set.** </span>

In [7]:
#write observation and code here
empty_set = ()
empty_set

()

### <span style='color:Blue'> **Question - 9.Give some example to prove set provide unique element.** </span>

In [25]:
#write observation and code here
my_set = {1, 2, 2, 3, 4, 4, 5}

print(my_set)

{1, 2, 3, 4, 5}

In [26]:
mixed_set = {1, 'apple', 2.5, (1, 2)}

print(mixed_set)

{1, 2.5, (1, 2), 'apple'}

### <span style='color:Blue'> **Question - 10.Create a new set & perform all the set methods on it.** </span>

In [1]:
#write observation and code here
# Creating a new set
my_set = {1, 2, 3, 4}

# Displaying the initial set
print( my_set)

{1, 2, 3, 4}

In [2]:
# Adding elements to the set
my_set.add(5)
my_set.add(6)
print( my_set)

{1, 2, 3, 4, 5, 6}

In [3]:
# Removing an element from the set
my_set.remove(3)
print("After Removing 3:", my_set)

After Removing 3: {1, 2, 4, 5, 6}

In [4]:
# Finding the length of the set
set_len = len(my_set)
print( set_len)

5

In [5]:
# Clearing all elements from the set
my_set.clear()
print( my_set)

set()

### the end3